<!-- appearing window of adding new todo -->
<div id="cn" class="cn">
  <div class="inner">
    <%= content_tag(:h3, "новая задача") %><hr>
    <%= form_tag("projects/id/todos", method:"post", id:"create_todo_form") do %>
      <%= text_field(:todo, :text, :placeholder => ' Название задачи...',:class => 'todo_name_input') %><br>
      <%= select_tag("selected_project", options_from_collection_for_select(@projects, "id", "title"), :id => 'project_selection', :class => 'project_selection')%><br>
      <%= link_to('ОТМЕНА', '#', :id => 'undo_btn', :class => 'undo_btn')%><!-- hiding div -->
      <%= link_to('OK', '#', :id => 'create_btn', :class => 'create_btn')%><!-- link instead button -->
    <% end %>
  </div>
</div>

<!-- header -->
<div class = "header">
  <div class = "elements">
      <%= content_tag(:h1, :Задачи, class: "title") %>
			<%= link_to(image_tag('todoimages/addTodoIcon.png'), '#', :id => 'plus_btn', :class => 'plus_btn')%>
    </div>
</div>

<% @projects.each do |project| %>
  <% project.todos.sort.each do |todo|%>
    <%= todo.id %>
  <% end %><br>
<% end %><br>

<!-- body with checkboxes -->
<div class="container">
	<div class="row">
		<% @projects.each do |project| %>
			<div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="shadow">
          <%= content_tag(:h2, project.title) %><hr>
				  <% project.todos.sort.each do |todo|%>
            <div class="todo_item">
              <%= form_tag({controller:"projects", action:"update"}, method:"patch") do %>
								<div class="check_wrapper"><%= check_box_tag(todo.id,  todo.isCompleted)%></div>
                <%= hidden_field_tag(:isCompleted, !todo.isCompleted ) %>
                <%= submit_tag(todo.id, class: "submit_flag", id: "submit_flag_"+todo.id.to_s) %>
                <%= content_tag(:label, todo.text, id:"todo_text_"+todo.id.to_s, class: "todo_text", for: todo.id) %>
							<% end %>
            </div>
          <% end %><br>
				</div>
			</div>
		<% end %>
	</div>
</div>
